In [94]:
import pandas as pd
raw_data=pd.read_csv("data/data.csv")
predict_data = data[pd.isna(data["x_e_out [-]"])]
predict_data=predict_data.drop(columns=["x_e_out [-]"])
data=raw_data.copy()

In [95]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31644 entries, 0 to 31643
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   31644 non-null  int64
 1   author               26620 non-null  object
 2   geometry             26144 non-null  object
 3   pressure [MPa]       27192 non-null  float64
 4   mass_flux [kg/m2-s]  26853 non-null  float64
 5   x_e_out [-]          21229 non-null  float64
 6   D_e [mm]             26156 non-null  float64
 7   D_h [mm]             27055 non-null  float64
 8   length [mm]          26885 non-null  float64
 9   chf_exp [MW/m2]      31644 non-null  float64
dtypes: float64(7), int64(1), object(2)
memory usage: 2.4+ MB

In [96]:
data.head()

,id,author,geometry,pressure [MPa],mass_flux [kg/m2-s],x_e_out [-],D_e [mm],D_h [mm],length [mm],chf_exp [MW/m2]
0,0,Thompson,tube,7.00,3770.0,0.1754,NaN,10.8,432.0,3.6
1,1,Thompson,tube,NaN,6049.0,-0.0416,10.3,10.3,762.0,6.2
2,2,Thompson,NaN,13.79,2034.0,0.0335,7.7,7.7,457.0,2.5
3,3,Beus,annulus,13.79,3679.0,-0.0279,5.6,15.2,2134.0,3.0
4,4,NaN,tube,13.79,686.0,NaN,11.1,11.1,457.0,2.8

In [103]:
print(data["author"].unique())
print(data["geometry"].unique())
author_geometry=data[["author","geometry"]].drop_duplicates().dropna()
author_geometry

['Thompson' 'Beus' nan 'Peskov' 'Janssen' 'Weatherhead' 'Inasaka'
 'Williams' 'Mortimore' 'Richenderfer' 'Kossolapov']
['tube' nan 'annulus' 'plate']

             author geometry
0          Thompson     tube
3              Beus  annulus
7            Peskov     tube
11          Janssen  annulus
22      Weatherhead     tube
40          Inasaka     tube
57         Williams     tube
77        Mortimore  annulus
108    Richenderfer    plate
235      Kossolapov    plate
693    Richenderfer     tube
809            Beus     tube
934       Mortimore     tube
2664   Richenderfer  annulus
3180         Peskov    plate
4476       Thompson    plate
5106         Peskov  annulus
5399        Janssen     tube
6412       Williams    plate
7137       Thompson  annulus
12514    Kossolapov     tube
15910     Mortimore    plate
16102       Janssen    plate
18026      Williams  annulus
23122    Kossolapov  annulus
23470       Inasaka    plate
26769   Weatherhead  annulus

In [114]:
dic_autor_geometry = {}
for _, row in author_geometry.iterrows():
    autor = row['author']
    geometry = row['geometry']
    if autor in dic_autor_geometry:
        dic_autor_geometry[autor].append(geometry)
    else:
        dic_autor_geometry[autor] = [geometry]

# Imprimir el diccionario
print(dic_autor_geometry)

{'Thompson': ['tube', 'plate', 'annulus'], 'Beus': ['annulus', 'tube'], 'Peskov': ['tube', 'plate', 'annulus'], 'Janssen': ['annulus', 'tube', 'plate'], 'Weatherhead': ['tube', 'annulus'], 'Inasaka': ['tube', 'plate'], 'Williams': ['tube', 'plate', 'annulus'], 'Mortimore': ['annulus', 'tube', 'plate'], 'Richenderfer': ['plate', 'tube', 'annulus'], 'Kossolapov': ['plate', 'tube', 'annulus']}

In [115]:
for autor in dic_autor_geometry:
    for geometria in dic_autor_geometry[autor]:
        print(autor, geometria)
        print(data[data["author"]==autor][data["geometry"]==geometria].describe())

Thompson tube
                 id  pressure [MPa]  mass_flux [kg/m2-s]  x_e_out [-]  \
count  14324.000000    12393.000000         12180.000000   9555.00000
mean   15877.367565       10.660803          3496.055583     -0.01384
std     9158.588745        4.276420          1838.097515      0.10361
min        0.000000        0.100000             0.000000     -0.86670
25%     7915.000000        6.890000          1980.000000     -0.05940
50%    15914.500000       11.030000          3662.000000     -0.00780
75%    23791.250000       13.790000          4136.000000      0.05330
max    31642.000000       20.680000          7975.000000      0.21200

           D_e [mm]      D_h [mm]   length [mm]  chf_exp [MW/m2]
count  11831.000000  12270.000000  12229.000000     14324.000000
mean       8.210692      8.270326    609.942595         4.138362
std        5.883229      6.116300    464.029507         2.000802
min        1.000000      1.000000     10.000000         0.800000
25%        4.700000      4.700000    318.000000         2.700000
50%        7.800000      7.800000    457.000000         3.800000
75%       10.800000     10.800000    762.000000         4.900000
max       37.500000    120.000000   3048.000000        19.300000
Thompson plate
                 id  pressure [MPa]  mass_flux [kg/m2-s]  x_e_out [-]  \
count     11.000000        8.000000             9.000000    10.000000
mean   16592.636364        3.102500          2529.555556    -0.024590
std     8515.904888        5.517613          1731.418646     0.013566
min     4476.000000        0.100000          1000.000000    -0.046600
25%     8733.000000        0.100000          1500.000000    -0.036200
50%    20204.000000        0.555000          2000.000000    -0.021800
75%    22834.500000        2.480000          2984.000000    -0.012850
max    28275.000000       15.510000          5533.000000    -0.007100

        D_e [mm]    D_h [mm]  length [mm]  chf_exp [MW/m2]
count  11.000000    9.000000         11.0        11.000000
mean   12.963636  106.877778         10.0         6.172727
std     4.609614   39.366667          0.0         1.488685
min     1.900000    1.900000         10.0         2.900000
25%    15.000000  120.000000         10.0         5.450000
50%    15.000000  120.000000         10.0         6.500000
75%    15.000000  120.000000         10.0         7.100000
max    15.000000  120.000000         10.0         8.000000
Thompson annulus
                 id  pressure [MPa]  mass_flux [kg/m2-s]  x_e_out [-]  \
count      9.000000        7.000000             6.000000     5.000000
mean   19918.555556        9.095714          2153.333333     0.026520
std     8122.363882        3.296058          1138.281277     0.083863
min     7137.000000        6.780000          1351.000000    -0.080100
25%    15832.000000        6.890000          1437.250000    -0.013700
50%    17900.000000        6.890000          1519.000000     0.002800
75%    26691.000000       10.355000          2668.750000     0.107400
max    29886.000000       15.510000          4069.000000     0.116200

        D_e [mm]   D_h [mm]  length [mm]  chf_exp [MW/m2]
count   8.000000   6.000000     7.000000         9.000000
mean    9.725000  25.833333  1886.857143         3.144444
std     3.087648  16.856295   555.404486         1.045360
min     5.600000   5.600000   914.000000         1.600000
25%     7.775000  12.425000  1752.500000         2.500000
50%    10.000000  26.650000  1778.000000         3.400000
75%    12.700000  41.250000  2134.000000         3.700000
max    12.700000  42.300000  2743.000000         4.700000
Beus annulus

c:\Users\mgilj\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.
c:\Users\mgilj\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.
c:\Users\mgilj\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.
c:\Users\mgilj\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.

                 id  pressure [MPa]  mass_flux [kg/m2-s]  x_e_out [-]  \
count   1308.000000     1110.000000          1119.000000   881.000000
mean   15949.391437       13.065667          2350.529044     0.060299
std     9106.195292        2.472537          1055.863033     0.082026
min        3.000000        2.140000           671.000000    -0.313700
25%     8087.500000       11.030000          1355.000000     0.010100
50%    15878.500000       13.790000          2710.000000     0.056800
75%    23993.500000       15.510000          3665.000000     0.123300
max    31608.000000       18.270000          6200.000000     0.232000

          D_e [mm]     D_h [mm]  length [mm]  chf_exp [MW/m2]
count  1065.000000  1097.000000  1115.000000      1308.000000
mean      5.611549    15.102097  2132.222422         2.230734
std       0.301356     1.022692    51.037977         1.101222
min       5.600000     5.600000   457.000000         0.800000
25%       5.600000    15.200000  2134.000000         1.600000
50%       5.600000    15.200000  2134.000000         2.100000
75%       5.600000    15.200000  2134.000000         2.500000
max      15.000000    22.300000  2134.000000        15.600000
Beus tube
                 id  pressure [MPa]  mass_flux [kg/m2-s]  x_e_out [-]  \
count     29.000000       21.000000            24.000000    19.000000
mean   18438.965517       14.001905          2233.250000     0.099011
std     9493.516180        1.592362          1022.828187     0.058890
min      809.000000        8.960000          1344.000000    -0.042800
25%    11300.000000       13.790000          1354.000000     0.073500
50%    22497.000000       13.790000          1688.500000     0.119500
75%    26512.000000       15.510000          2963.750000     0.133200
max    31176.000000       15.510000          4069.000000     0.193600

           D_e [mm]   D_h [mm]  length [mm]  chf_exp [MW/m2]
count  2.600000e+01  23.000000         25.0        29.000000
mean   5.600000e+00  13.530435       2134.0         1.834483
std    9.057678e-16   3.720513          0.0         0.581424
min    5.600000e+00   5.600000       2134.0         1.100000
25%    5.600000e+00  15.200000       2134.0         1.500000
50%    5.600000e+00  15.200000       2134.0         1.800000
75%    5.600000e+00  15.200000       2134.0         2.100000
max    5.600000e+00  15.200000       2134.0         3.600000
Peskov tube
                 id  pressure [MPa]  mass_flux [kg/m2-s]  x_e_out [-]  \
count    872.000000      741.000000           744.000000   595.000000
mean   15673.535550       13.462254          2734.932796    -0.034568
std     9044.785235        3.126874          1492.416999     0.083273
min        7.000000        0.100000           310.000000    -0.650000
25%     7958.500000       12.000000          1616.250000    -0.077250
50%    15478.500000       12.000000          2217.000000    -0.046500
75%    23776.250000       16.000000          4028.000000     0.008400
max    31595.000000       20.000000          7500.000000     0.204000

         D_e [mm]    D_h [mm]  length [mm]  chf_exp [MW/m2]
count  728.000000  748.000000   730.000000       872.000000
mean     9.982418   10.488904   973.889041         3.417431
std      1.318869    7.247807   461.377579         1.441120
min      1.900000    1.900000    10.000000         0.800000
25%     10.000000   10.000000   565.000000         2.200000
50%     10.000000   10.000000   890.000000         3.200000
75%     10.000000   10.000000  1300.000000         4.200000
max     37.500000  120.000000  2700.000000        10.200000
Peskov plate
                 id  pressure [MPa]  mass_flux [kg/m2-s]  x_e_out [-]  \
count      3.000000        2.000000             2.000000     2.000000
mean   17730.000000        6.050000          1039.000000    -0.023450
std    12611.810933        8.414571            55.154329     0.019587
min     3180.000000        0.100000          1000.000000    -0.037300
25%    13827.500000        3.075000          1019.500000    -0.030375
50%    24475.000000        6.050000          1039.000000    -0.023450
75%    25005.000000        9.025000          1058.500000    -0.016525
max    25535.000000       12.000000          1078.000000    -0.009600

        D_e [mm]  D_h [mm]  length [mm]  chf_exp [MW/m2]
count   3.000000       2.0          3.0         3.000000
mean   13.333333     120.0         10.0         4.433333
std     2.886751       0.0          0.0         0.611010
min    10.000000     120.0         10.0         3.900000
25%    12.500000     120.0         10.0         4.100000
50%    15.000000     120.0         10.0         4.300000
75%    15.000000     120.0         10.0         4.700000
max    15.000000     120.0         10.0         5.100000
Peskov annulus

c:\Users\mgilj\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.
c:\Users\mgilj\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.
c:\Users\mgilj\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.
c:\Users\mgilj\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.

           id  pressure [MPa]  mass_flux [kg/m2-s]  x_e_out [-]  D_e [mm]  \
count     1.0             1.0                  1.0       1.0000       1.0
mean   5106.0            10.0               2200.0       0.1344      10.0
std       NaN             NaN                  NaN          NaN       NaN
min    5106.0            10.0               2200.0       0.1344      10.0
25%    5106.0            10.0               2200.0       0.1344      10.0
50%    5106.0            10.0               2200.0       0.1344      10.0
75%    5106.0            10.0               2200.0       0.1344      10.0
max    5106.0            10.0               2200.0       0.1344      10.0

       D_h [mm]  length [mm]  chf_exp [MW/m2]
count       1.0          1.0              1.0
mean       10.0        893.0              1.1
std         NaN          NaN              NaN
min        10.0        893.0              1.1
25%        10.0        893.0              1.1
50%        10.0        893.0              1.1
75%        10.0        893.0              1.1
max        10.0        893.0              1.1
Janssen annulus
                 id  pressure [MPa]  mass_flux [kg/m2-s]  x_e_out [-]  \
count   2247.000000     1916.000000          1910.000000  1518.000000
mean   16091.674677        7.344311          2569.542932     0.048041
std     9169.776955        1.448863          1612.627759     0.070757
min       11.000000        0.330000           340.000000    -0.152100
25%     8104.000000        6.890000          1519.000000     0.002900
50%    16349.000000        6.890000          2278.000000     0.033600
75%    24166.500000        6.980000          3038.000000     0.100650
max    31630.000000       15.510000          7500.000000     0.209000

          D_e [mm]     D_h [mm]  length [mm]  chf_exp [MW/m2]
count  1847.000000  1905.000000  1885.000000      2247.000000
mean     10.750135    33.352913  1560.966048         3.346640
std       3.451126    16.080049   634.197703         1.607218
min       4.600000     4.600000    10.000000         0.800000
25%       8.500000    22.300000   914.000000         2.300000
50%      12.700000    38.100000  1778.000000         3.100000
75%      12.700000    42.300000  1778.000000         3.800000
max      22.200000    96.300000  2743.000000        19.300000
Janssen tube
                 id  pressure [MPa]  mass_flux [kg/m2-s]  x_e_out [-]  \
count     31.000000       28.000000            27.000000    13.000000
mean   18646.032258        8.033214          3122.370370     0.048823
std     8145.452680        2.709182          1720.488015     0.066181
min     5399.000000        4.130000           385.000000    -0.074200
25%    12166.500000        6.890000          1526.000000     0.003200
50%    18134.000000        6.890000          2767.000000     0.048200
75%    25335.000000        9.650000          4726.500000     0.090700
max    30901.000000       15.170000          5642.000000     0.169400

       D_e [mm]   D_h [mm]  length [mm]  chf_exp [MW/m2]
count  24.00000  21.000000    23.000000        31.000000
mean    9.83750  27.633333  1366.869565         3.045161
std     3.78806  20.871376   525.865114         0.847285
min     4.60000   6.400000   737.000000         0.900000
25%     6.40000  11.500000   914.000000         2.550000
50%     8.50000  22.300000   914.000000         3.200000
75%    12.70000  38.100000  1803.500000         3.550000
max    22.20000  96.300000  2591.000000         4.800000
Janssen plate
            id  pressure [MPa]  mass_flux [kg/m2-s]  x_e_out [-]  D_e [mm]  \
count      1.0            1.00                  1.0          0.0       1.0
mean   16102.0            9.68               1500.0          NaN       6.4
std        NaN             NaN                  NaN          NaN       NaN
min    16102.0            9.68               1500.0          NaN       6.4
25%    16102.0            9.68               1500.0          NaN       6.4
50%    16102.0            9.68               1500.0          NaN       6.4
75%    16102.0            9.68               1500.0          NaN       6.4
max    16102.0            9.68               1500.0          NaN       6.4

       D_h [mm]  length [mm]  chf_exp [MW/m2]
count       1.0          1.0              1.0
mean       15.9        914.0              2.5
std         NaN          NaN              NaN
min        15.9        914.0              2.5
25%        15.9        914.0              2.5
50%        15.9        914.0              2.5
75%        15.9        914.0              2.5
max        15.9        914.0              2.5
Weatherhead tube

c:\Users\mgilj\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.
c:\Users\mgilj\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.
c:\Users\mgilj\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.
c:\Users\mgilj\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.

                 id  pressure [MPa]  mass_flux [kg/m2-s]  x_e_out [-]  \
count   1698.000000     1448.000000           1440.00000  1146.000000
mean   15867.604829       13.773322           1549.51250    -0.014685
std     9245.660125        0.433456            686.75167     0.112522
min       22.000000        4.140000            332.00000    -0.485400
25%     7662.250000       13.790000           1301.75000    -0.073675
50%    15948.000000       13.790000           1370.00000     0.004450
75%    23945.750000       13.790000           1994.00000     0.060050
max    31637.000000       18.960000           7500.00000     0.194600

          D_e [mm]     D_h [mm]  length [mm]  chf_exp [MW/m2]
count  1396.000000  1448.000000  1456.000000      1698.000000
mean      8.983811     8.994751   458.504808         2.964252
std       1.912594     1.895304    77.077896         1.674869
min       1.900000     1.900000    10.000000         0.800000
25%       7.700000     7.700000   457.000000         2.000000
50%       7.700000     7.700000   457.000000         2.600000
75%      11.100000    11.100000   457.000000         3.500000
max      37.500000    37.500000  2134.000000        14.700000
Weatherhead annulus
            id  pressure [MPa]  mass_flux [kg/m2-s]  x_e_out [-]  D_e [mm]  \
count      1.0            1.00                  1.0          0.0       1.0
mean   26769.0           13.79               1344.0          NaN      11.1
std        NaN             NaN                  NaN          NaN       NaN
min    26769.0           13.79               1344.0          NaN      11.1
25%    26769.0           13.79               1344.0          NaN      11.1
50%    26769.0           13.79               1344.0          NaN      11.1
75%    26769.0           13.79               1344.0          NaN      11.1
max    26769.0           13.79               1344.0          NaN      11.1

       D_h [mm]  length [mm]  chf_exp [MW/m2]
count       0.0          1.0              1.0
mean        NaN        457.0              1.6
std         NaN          NaN              NaN
min         NaN        457.0              1.6
25%         NaN        457.0              1.6
50%         NaN        457.0              1.6
75%         NaN        457.0              1.6
max         NaN        457.0              1.6
Inasaka tube
                 id  pressure [MPa]  mass_flux [kg/m2-s]  x_e_out [-]  \
count     34.000000       30.000000            28.000000    21.000000
mean   15117.117647        2.751333          5228.178571    -0.084829
std     8909.478296        5.003578          1226.582849     0.048517
min       40.000000        0.100000           842.000000    -0.146000
25%     8198.000000        0.330000          4600.000000    -0.122100
50%    14302.000000        0.620000          5430.500000    -0.084700
75%    22247.250000        0.910000          6200.000000    -0.040700
max    30022.000000       18.270000          6700.000000    -0.000100

        D_e [mm]   D_h [mm]  length [mm]  chf_exp [MW/m2]
count  31.000000  32.000000    28.000000        34.000000
mean    3.019355   3.237500   113.892857         8.938235
std     0.107763   1.238561    64.359142         3.644008
min     3.000000   3.000000    10.000000         1.300000
25%     3.000000   3.000000   100.000000         7.750000
50%     3.000000   3.000000   100.000000         8.200000
75%     3.000000   3.000000   100.000000         9.225000
max     3.600000  10.000000   400.000000        19.300000
Inasaka plate

c:\Users\mgilj\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.
c:\Users\mgilj\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.
c:\Users\mgilj\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.

            id  pressure [MPa]  mass_flux [kg/m2-s]  x_e_out [-]  D_e [mm]  \
count      1.0            1.00                  1.0          0.0       1.0
mean   23470.0            0.39                706.0          NaN      15.0
std        NaN             NaN                  NaN          NaN       NaN
min    23470.0            0.39                706.0          NaN      15.0
25%    23470.0            0.39                706.0          NaN      15.0
50%    23470.0            0.39                706.0          NaN      15.0
75%    23470.0            0.39                706.0          NaN      15.0
max    23470.0            0.39                706.0          NaN      15.0

       D_h [mm]  length [mm]  chf_exp [MW/m2]
count       1.0          1.0              1.0
mean      120.0         10.0              6.5
std         NaN          NaN              NaN
min       120.0         10.0              6.5
25%       120.0         10.0              6.5
50%       120.0         10.0              6.5
75%       120.0         10.0              6.5
max       120.0         10.0              6.5
Williams tube
                 id  pressure [MPa]  mass_flux [kg/m2-s]  x_e_out [-]  \
count    719.000000      626.000000           597.000000   462.000000
mean   15914.794159       13.429824          2882.396985     0.074336
std     9298.716212        2.149962          1096.905263     0.061260
min       57.000000        2.140000           339.000000    -0.125800
25%     7719.500000       13.790000          2661.000000     0.023000
50%    16136.000000       13.790000          2712.000000     0.074650
75%    23912.500000       15.170000          4054.000000     0.128200
max    31600.000000       15.510000          7690.000000     0.207300

         D_e [mm]    D_h [mm]  length [mm]  chf_exp [MW/m2]
count  596.000000  615.000000   617.000000       719.000000
mean     9.445805    9.526992  1838.756888         2.562587
std      0.556549    0.779054    38.737535         1.560687
min      1.900000    1.900000  1829.000000         0.900000
25%      9.500000    9.500000  1836.000000         1.800000
50%      9.500000    9.500000  1836.000000         2.200000
75%      9.500000    9.500000  1836.000000         2.750000
max     10.800000   25.600000  2650.000000        14.800000
Williams plate
           id  pressure [MPa]  mass_flux [kg/m2-s]  x_e_out [-]  D_e [mm]  \
count     1.0            1.00                  1.0       1.0000       1.0
mean   6412.0           15.17               1335.0      -0.0187       9.5
std       NaN             NaN                  NaN          NaN       NaN
min    6412.0           15.17               1335.0      -0.0187       9.5
25%    6412.0           15.17               1335.0      -0.0187       9.5
50%    6412.0           15.17               1335.0      -0.0187       9.5
75%    6412.0           15.17               1335.0      -0.0187       9.5
max    6412.0           15.17               1335.0      -0.0187       9.5

       D_h [mm]  length [mm]  chf_exp [MW/m2]
count       1.0          1.0              1.0
mean        9.5       1836.0              2.1
std         NaN          NaN              NaN
min         9.5       1836.0              2.1
25%         9.5       1836.0              2.1
50%         9.5       1836.0              2.1
75%         9.5       1836.0              2.1
max         9.5       1836.0              2.1
Williams annulus

c:\Users\mgilj\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.
c:\Users\mgilj\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.
c:\Users\mgilj\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.
c:\Users\mgilj\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.
c:\Users\mgilj\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.
c:\Users\mgilj\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.

            id  pressure [MPa]  mass_flux [kg/m2-s]  x_e_out [-]  D_e [mm]  \
count      1.0            1.00                  1.0       1.0000       0.0
mean   18026.0           15.17               2699.0       0.0486       NaN
std        NaN             NaN                  NaN          NaN       NaN
min    18026.0           15.17               2699.0       0.0486       NaN
25%    18026.0           15.17               2699.0       0.0486       NaN
50%    18026.0           15.17               2699.0       0.0486       NaN
75%    18026.0           15.17               2699.0       0.0486       NaN
max    18026.0           15.17               2699.0       0.0486       NaN

       D_h [mm]  length [mm]  chf_exp [MW/m2]
count       1.0          1.0              1.0
mean        9.5       1836.0              1.5
std         NaN          NaN              NaN
min         9.5       1836.0              1.5
25%         9.5       1836.0              1.5
50%         9.5       1836.0              1.5
75%         9.5       1836.0              1.5
max         9.5       1836.0              1.5
Mortimore annulus
                 id  pressure [MPa]  mass_flux [kg/m2-s]  x_e_out [-]  \
count    152.000000      129.000000           129.000000   104.000000
mean   15939.197368       11.340388          1968.457364     0.041270
std     8678.498401        3.160519           980.467172     0.093922
min       77.000000        0.100000           336.000000    -0.235800
25%     9202.000000        8.270000          1344.000000    -0.019850
50%    15934.000000       11.030000          1627.000000     0.044600
75%    23063.250000       13.790000          2717.000000     0.114100
max    31271.000000       13.790000          6781.000000     0.186900

         D_e [mm]    D_h [mm]  length [mm]  chf_exp [MW/m2]
count  124.000000  132.000000        133.0       152.000000
mean     5.152419   13.314394       2134.0         2.327632
std      1.163011    0.165374          0.0         0.981160
min      5.000000   13.300000       2134.0         0.900000
25%      5.000000   13.300000       2134.0         1.800000
50%      5.000000   13.300000       2134.0         2.100000
75%      5.000000   13.300000       2134.0         2.625000
max     15.000000   15.200000       2134.0         6.700000
Mortimore tube
                 id  pressure [MPa]  mass_flux [kg/m2-s]  x_e_out [-]  \
count      6.000000         5.00000             5.000000     2.000000
mean   13394.500000        13.23800          2034.400000     0.016750
std    12272.467523         1.23431           958.021294     0.056639
min      934.000000        11.03000           679.000000    -0.023300
25%     3312.750000        13.79000          1358.000000    -0.003275
50%    11066.000000        13.79000          2693.000000     0.016750
75%    23155.000000        13.79000          2721.000000     0.036775
max    29388.000000        13.79000          2721.000000     0.056800

        D_e [mm]   D_h [mm]  length [mm]  chf_exp [MW/m2]
count   5.000000   5.000000          4.0         6.000000
mean    6.780000  12.540000       2134.0         1.866667
std     3.654039   1.699412          0.0         0.508593
min     5.000000   9.500000       2134.0         1.300000
25%     5.000000  13.300000       2134.0         1.425000
50%     5.000000  13.300000       2134.0         1.950000
75%     5.600000  13.300000       2134.0         2.100000
max    13.300000  13.300000       2134.0         2.600000
Mortimore plate
                 id  pressure [MPa]  mass_flux [kg/m2-s]  x_e_out [-]  \
count      2.000000        2.000000                  1.0     2.000000
mean   21363.000000        5.565000               1356.0     0.036900
std     7711.706556        7.728677                  NaN     0.194313
min    15910.000000        0.100000               1356.0    -0.100500
25%    18636.500000        2.832500               1356.0    -0.031800
50%    21363.000000        5.565000               1356.0     0.036900
75%    24089.500000        8.297500               1356.0     0.105600
max    26816.000000       11.030000               1356.0     0.174300

        D_e [mm]  D_h [mm]  length [mm]  chf_exp [MW/m2]
count   2.000000       1.0          1.0         2.000000
mean   10.000000      13.3       2134.0         2.650000
std     7.071068       NaN          NaN         0.777817
min     5.000000      13.3       2134.0         2.100000
25%     7.500000      13.3       2134.0         2.375000
50%    10.000000      13.3       2134.0         2.650000
75%    12.500000      13.3       2134.0         2.925000
max    15.000000      13.3       2134.0         3.200000
Richenderfer plate

c:\Users\mgilj\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.
c:\Users\mgilj\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.
c:\Users\mgilj\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.
c:\Users\mgilj\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.
c:\Users\mgilj\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.

                 id  pressure [MPa]  mass_flux [kg/m2-s]  x_e_out [-]  \
count    408.000000      353.000000           338.000000   283.000000
mean   16264.495098        0.850057          1622.511834    -0.029778
std     8955.568201        1.987868          1097.595987     0.038195
min      108.000000        0.100000            10.000000    -0.148600
25%     8640.500000        0.100000          1000.000000    -0.043300
50%    16549.500000        0.200000          1500.000000    -0.020400
75%    23853.000000        0.510000          2000.000000    -0.010200
max    31634.000000       18.000000          6400.000000     0.138300

         D_e [mm]    D_h [mm]  length [mm]  chf_exp [MW/m2]
count  336.000000  350.000000   344.000000       408.000000
mean    14.865476  117.827143    21.610465         5.363480
std      1.107235   15.245687   105.651937         1.845937
min      1.900000    1.900000    10.000000         1.800000
25%     15.000000  120.000000    10.000000         4.100000
50%     15.000000  120.000000    10.000000         5.100000
75%     15.000000  120.000000    10.000000         6.200000
max     15.900000  120.000000  1300.000000        14.700000
Richenderfer tube
                 id  pressure [MPa]  mass_flux [kg/m2-s]  x_e_out [-]  \
count     35.000000       31.000000            32.000000    24.000000
mean   17213.342857        0.574516          1453.125000    -0.029542
std     9617.818063        1.217801           428.037061     0.022755
min      693.000000        0.100000          1000.000000    -0.112400
25%    10229.000000        0.100000          1000.000000    -0.041375
50%    18799.000000        0.200000          1500.000000    -0.025750
75%    24880.000000        0.510000          2000.000000    -0.010800
max    31057.000000        6.890000          2000.000000    -0.003400

       D_e [mm]  D_h [mm]  length [mm]  chf_exp [MW/m2]
count      24.0      30.0    33.000000        35.000000
mean       15.0     120.0    49.090909         5.757143
std         0.0       0.0   224.560176         2.110100
min        15.0     120.0    10.000000         3.100000
25%        15.0     120.0    10.000000         4.300000
50%        15.0     120.0    10.000000         5.200000
75%        15.0     120.0    10.000000         6.500000
max        15.0     120.0  1300.000000        12.700000
Richenderfer annulus
                 id  pressure [MPa]  mass_flux [kg/m2-s]  x_e_out [-]  \
count      6.000000        5.000000             5.000000     4.000000
mean    9326.333333        0.648000          1600.000000    -0.013975
std     5280.144341        0.353864           547.722558     0.042961
min     2664.000000        0.200000          1000.000000    -0.043400
25%     5611.500000        0.510000          1000.000000    -0.041375
50%     9085.500000        0.510000          2000.000000    -0.030550
75%    13501.500000        1.010000          2000.000000    -0.003150
max    15696.000000        1.010000          2000.000000     0.048600

       D_e [mm]  D_h [mm]  length [mm]  chf_exp [MW/m2]
count       5.0       5.0          6.0         6.000000
mean       15.0     120.0         10.0         6.100000
std         0.0       0.0          0.0         3.200625
min        15.0     120.0         10.0         3.600000
25%        15.0     120.0         10.0         4.025000
50%        15.0     120.0         10.0         5.050000
75%        15.0     120.0         10.0         6.600000
max        15.0     120.0         10.0        12.100000
Kossolapov plate
                 id  pressure [MPa]  mass_flux [kg/m2-s]  x_e_out [-]  \
count     82.000000       74.000000            72.000000    59.000000
mean   14030.609756        0.718378           953.069444    -0.051169
std     8597.741311        3.085700           797.943895     0.043529
min      235.000000        0.100000             0.000000    -0.143400
25%     7071.500000        0.100000           478.000000    -0.083450
50%    13067.000000        0.100000           832.000000    -0.043400
75%    21395.750000        0.100000          1295.750000    -0.018700
max    31312.000000       18.960000          5561.000000     0.010100

       D_e [mm]    D_h [mm]  length [mm]  chf_exp [MW/m2]
count      69.0   67.000000    73.000000        82.000000
mean       15.0  118.446269    22.383562         4.793902
std         0.0   12.717839   105.805197         2.186905
min        15.0   15.900000    10.000000         1.800000
25%        15.0  120.000000    10.000000         3.200000
50%        15.0  120.000000    10.000000         4.350000
75%        15.0  120.000000    10.000000         5.400000
max        15.0  120.000000   914.000000        13.300000
Kossolapov tube
                 id  pressure [MPa]  mass_flux [kg/m2-s]  x_e_out [-]  \
count      3.000000        3.000000             2.000000     2.000000
mean   17157.000000        0.236667           668.000000    -0.061650
std     5076.907228        0.236714           469.518903     0.060740
min    12514.000000        0.100000           336.000000    -0.104600
25%    14446.500000        0.100000           502.000000    -0.083125
50%    16379.000000        0.100000           668.000000    -0.061650
75%    19478.500000        0.305000           834.000000    -0.040175
max    22578.000000        0.510000          1000.000000    -0.018700

       D_e [mm]  D_h [mm]  length [mm]  chf_exp [MW/m2]
count       2.0       3.0          2.0         3.000000
mean       15.0     120.0         10.0         5.600000
std         0.0       0.0          0.0         1.509967
min        15.0     120.0         10.0         4.200000
25%        15.0     120.0         10.0         4.800000
50%        15.0     120.0         10.0         5.400000
75%        15.0     120.0         10.0         6.300000
max        15.0     120.0         10.0         7.200000
Kossolapov annulus
            id  pressure [MPa]  mass_flux [kg/m2-s]  x_e_out [-]  D_e [mm]  \
count      1.0             1.0                  1.0       1.0000       1.0
mean   23122.0             0.1                912.0      -0.0385      15.0
std        NaN             NaN                  NaN          NaN       NaN
min    23122.0             0.1                912.0      -0.0385      15.0
25%    23122.0             0.1                912.0      -0.0385      15.0
50%    23122.0             0.1                912.0      -0.0385      15.0
75%    23122.0             0.1                912.0      -0.0385      15.0
max    23122.0             0.1                912.0      -0.0385      15.0

       D_h [mm]  length [mm]  chf_exp [MW/m2]
count       1.0          1.0              1.0
mean      120.0         10.0              3.3
std         NaN          NaN              NaN
min       120.0         10.0              3.3
25%       120.0         10.0              3.3
50%       120.0         10.0              3.3
75%       120.0         10.0              3.3
max       120.0         10.0              3.3

c:\Users\mgilj\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.

Relaciones encontradas

Mortimore annulus
    length [mm]=2134


Mortimore tube
    length [mm]=2134.0


Richenderfer tube
    D_e [mm]=15
    D_h [mm]=120



Richenderfer annulus
    D_e [mm] = 15
    D_h [mm]=120
    length [mm]=10


Kossolapov tube
    D_e [mm]=15
    D_h [mm]=120
    length [mm]=10

In [117]:
data["author"].unique()

array(['Thompson', 'Beus', nan, 'Peskov', 'Janssen', 'Weatherhead',
       'Inasaka', 'Williams', 'Mortimore', 'Richenderfer', 'Kossolapov'],
      dtype=object)

In [119]:
original_data=pd.read_csv("data/original_dataset.csv")

In [121]:
original_data.head()

,id,author,geometry,pressure [MPa],mass_flux [kg/m2-s],x_e_out [-],D_e [mm],D_h [mm],length [mm],chf_exp [MW/m2]
0,1,Inasaka,tube,0.39,5600,-0.1041,3.0,3.0,100,11.3
1,2,Inasaka,tube,0.31,6700,-0.0596,3.0,3.0,100,10.6
2,3,Inasaka,tube,0.33,4300,-0.0395,3.0,3.0,100,7.3
3,4,Inasaka,tube,0.62,6400,-0.1460,3.0,3.0,100,12.8
4,5,Inasaka,tube,0.64,4700,-0.0849,3.0,3.0,100,11.0

In [122]:
original_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1865 entries, 0 to 1864
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   1865 non-null   int64
 1   author               1865 non-null   object
 2   geometry             1865 non-null   object
 3   pressure [MPa]       1865 non-null   float64
 4   mass_flux [kg/m2-s]  1865 non-null   int64
 5   x_e_out [-]          1865 non-null   float64
 6   D_e [mm]             1865 non-null   float64
 7   D_h [mm]             1865 non-null   float64
 8   length [mm]          1865 non-null   int64
 9   chf_exp [MW/m2]      1865 non-null   float64
dtypes: float64(5), int64(3), object(2)
memory usage: 145.8+ KB

In [126]:
original_data[["author","geometry"]].drop_duplicates()

            author geometry
0          Inasaka     tube
7           Peskov     tube
24        Thompson     tube
1226   Weatherhead     tube
1388      Williams     tube
1439          Beus  annulus
1516       Janssen  annulus
1798     Mortimore  annulus
1817    Kossolapov    plate
1829  Richenderfer    plate

In [131]:
original_data[original_data["author"]=="Inasaka"]

,id,author,geometry,pressure [MPa],mass_flux [kg/m2-s],x_e_out [-],D_e [mm],D_h [mm],length [mm],chf_exp [MW/m2]
0,1,Inasaka,tube,0.39,5600,-0.1041,3.0,3.0,100,11.3
1,2,Inasaka,tube,0.31,6700,-0.0596,3.0,3.0,100,10.6
2,3,Inasaka,tube,0.33,4300,-0.0395,3.0,3.0,100,7.3
3,4,Inasaka,tube,0.62,6400,-0.1460,3.0,3.0,100,12.8
4,5,Inasaka,tube,0.64,4700,-0.0849,3.0,3.0,100,11.0
5,6,Inasaka,tube,0.64,6200,-0.1221,3.0,3.0,100,8.2
6,7,Inasaka,tube,0.91,5500,-0.1224,3.0,3.0,100,15.6

In [132]:
data[data["author"]=="Inasaka"]

,id,author,geometry,pressure [MPa],mass_flux [kg/m2-s],x_e_out [-],D_e [mm],D_h [mm],length [mm],chf_exp [MW/m2]
40,40,Inasaka,tube,12.07,6200.0,-0.0692,3.0,NaN,100.0,8.0
530,530,Inasaka,tube,0.64,6700.0,NaN,3.0,3.0,100.0,7.4
1100,1100,Inasaka,tube,0.39,NaN,NaN,3.0,3.0,10.0,8.2
1610,1610,Inasaka,NaN,0.64,6700.0,-0.1041,3.0,NaN,100.0,8.1
1731,1731,Inasaka,NaN,0.33,NaN,-0.1221,3.0,3.0,100.0,8.2
2644,2644,Inasaka,NaN,0.91,6700.0,NaN,3.0,3.0,100.0,8.2
4293,4293,Inasaka,tube,0.33,4300.0,NaN,NaN,3.0,100.0,8.4
6391,6391,Inasaka,tube,0.62,6200.0,-0.1460,3.0,3.0,100.0,7.9
6550,6550,Inasaka,tube,0.91,4700.0,NaN,3.0,3.0,100.0,8.6
6729,6729,Inasaka,tube,0.91,NaN,-0.1221,3.0,3.0,100.0,8.0
6888,6888,Inasaka,tube,NaN,5500.0,NaN,3.0,3.0,NaN,14.7
8093,8093,Inasaka,tube,18.27,842.0,-0.1221,3.0,3.0,150.0,1.3
8513,8513,Inasaka,tube,NaN,NaN,NaN,3.0,3.0,100.0,19.3
8598,8598,Inasaka,tube,NaN,6400.0,-0.0596,NaN,3.0,100.0,8.2
10384,10384,Inasaka,tube,0.31,6700.0,NaN,3.0,3.0,100.0,8.0
10697,10697,Inasaka,tube,0.39,4300.0,NaN,3.0,3.0,100.0,8.2
11688,11688,Inasaka,tube,0.51,5500.0,-0.1221,3.0,3.0,NaN,12.6
12336,12336,Inasaka,NaN,0.39,6200.0,NaN,3.0,3.0,100.0,12.6
13349,13349,Inasaka,tube,0.64,4700.0,-0.0404,3.0,3.0,100.0,7.3
13371,13371,Inasaka,NaN,0.64,6200.0,-0.1224,NaN,3.0,100.0,8.1
13709,13709,Inasaka,tube,10.51,5600.0,-0.0847,3.6,3.6,229.0,3.3
14082,14082,Inasaka,tube,0.10,4300.0,-0.0102,3.0,3.0,100.0,8.9
14522,14522,Inasaka,tube,3.45,4700.0,NaN,NaN,10.0,NaN,4.4
15667,15667,Inasaka,tube,0.64,4300.0,-0.1437,3.0,3.0,100.0,10.8
16329,16329,Inasaka,tube,0.33,4300.0,-0.0407,3.0,3.0,100.0,7.2
16634,16634,Inasaka,tube,0.33,NaN,-0.0434,3.0,3.0,NaN,9.0
18367,18367,Inasaka,tube,0.39,5600.0,NaN,3.0,3.0,NaN,11.3
18687,18687,Inasaka,tube,NaN,5500.0,-0.0466,3.0,3.0,100.0,19.3
20512,20512,Inasaka,tube,0.51,4300.0,NaN,3.0,3.0,100.0,9.3
21648,21648,Inasaka,tube,0.91,6400.0,-0.1221,3.0,3.0,100.0,12.1
22147,22147,Inasaka,NaN,0.62,6400.0,NaN,3.0,3.0,100.0,10.2
22447,22447,Inasaka,tube,0.62,5361.0,NaN,3.0,3.0,100.0,8.2
23031,23031,Inasaka,tube,0.33,4700.0,-0.0395,3.0,3.0,100.0,7.9
23470,23470,Inasaka,plate,0.39,706.0,NaN,15.0,120.0,10.0,6.5
23476,23476,Inasaka,tube,12.41,4986.0,NaN,3.0,3.0,400.0,4.4
24166,24166,Inasaka,NaN,0.51,4700.0,NaN,3.0,3.0,100.0,9.3
24501,24501,Inasaka,NaN,10.43,3065.0,-0.0886,1.9,NaN,152.0,3.8
24620,24620,Inasaka,tube,0.31,6700.0,-0.0001,3.0,3.0,NaN,7.3
24705,24705,Inasaka,NaN,0.51,5600.0,-0.0593,3.0,NaN,100.0,9.0
27520,27520,Inasaka,NaN,0.10,6700.0,-0.0077,15.0,NaN,10.0,19.3
27760,27760,Inasaka,tube,0.31,6200.0,-0.1221,3.0,3.0,100.0,8.3
28962,28962,Inasaka,tube,0.64,NaN,-0.1460,3.0,3.0,100.0,9.0
29640,29640,Inasaka,NaN,0.64,6200.0,-0.0412,3.0,3.0,100.0,8.4
29674,29674,Inasaka,tube,13.79,4700.0,-0.1221,3.0,3.0,100.0,8.1
29990,29990,Inasaka,tube,0.64,NaN,-0.1392,3.0,3.0,100.0,11.3
30022,30022,Inasaka,tube,0.33,6700.0,-0.0395,3.0,NaN,100.0,7.7

In [129]:
author_geometry.drop_duplicates()

             author geometry
0          Thompson     tube
3              Beus  annulus
7            Peskov     tube
11          Janssen  annulus
22      Weatherhead     tube
40          Inasaka     tube
57         Williams     tube
77        Mortimore  annulus
108    Richenderfer    plate
235      Kossolapov    plate
693    Richenderfer     tube
809            Beus     tube
934       Mortimore     tube
2664   Richenderfer  annulus
3180         Peskov    plate
4476       Thompson    plate
5106         Peskov  annulus
5399        Janssen     tube
6412       Williams    plate
7137       Thompson  annulus
12514    Kossolapov     tube
15910     Mortimore    plate
16102       Janssen    plate
18026      Williams  annulus
23122    Kossolapov  annulus
23470       Inasaka    plate
26769   Weatherhead  annulus

In [127]:
original_data["geometry"].unique()

array(['tube', 'annulus', 'plate'], dtype=object)